.hero{
    flex: 3;
    background: var(--blue-900);
    padding: 3.75rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    img + img{
        margin-top:6.25rem ;
        margin-bottom: 3.75rem;
    }

    p{
        font-size: 2rem;
        font-weight: 700;
        color: var(--green-500);
        line-height: 2.375rem;
        max-width: 600px;
    }

}


@media (max-width: 720px){
    .hero{
        display: none;
    }
}